@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
}

img {
  width: 100px;
  height: 100px;
}

/* ---------- navbar ------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #83e85a;
  padding: 5px 80px;
}

.navbar .rightSide a {
  margin-right: 25px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: black;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.navbar .rightSide a:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: rgba(16, 122, 139, 0.5);
  transition: 0.3s;
}

.navbar .rightSide a:hover:before {
  width: 100%;
}

@media (max-width: 600px) {
  .leftSide img {
    width: 50px;
    height: 50px;
    margin-left: 16px;
  }

  .rightSide a {
    margin-right: 4px;
  }

  .navbar {
    padding: 15px 5px;
  }
}

@media (max-width: 380px) {
  .leftSide img {
    width: 50px;
    height: 50px;
    margin-left: 16px;
  }

  .rightSide a {
    margin-right: 4px;
    font-size: 13px;
  }

  .navbar {
    padding: 15px 5px;
  }
}

/* ---------- navbar ------------ */
